
<section id="profile-page" ng-init="isAuth()">
	<h1>Profile</h1>




   




	<h4>upload profile picture</h4>

	 <form  name="upload_form" ng-model="upload_form">
	            Single Image with validations
	        <input 
	           type="file" 
	           ngf-select 
	           ng-model="file" 
	           name="file" 
	           ngf-pattern="'image/*'"
	           accept="image/*" 
	           ngf-max-size="20MB" 
	           />
	        Image thumbnail: <img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>
	        <i ng-show="upload_form.file.$error.required">*required</i><br>
	        <i ng-show="upload_form.file.$error.maxSize">File too large 
	        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
	        <button type="submit" ng-click="submit(file)">submit</button>
	        <p>{{progress}}
	 </form>

	 <button ng-click="submit()">call submit</button>
</section>