 <div  class="col-md-4 threecol">
    
<!--   <h1> put something here</h1> -->
 <ng-include src="'./views//partials/checkin.html'" ng-show="showCheckin"></ng-include>

</div>

<div class="col-md-4 threecol">
	<div id="chatview">

	  <ul class='old-msgs'>
	      <li ng-repeat="oldMsg in messageHistory track by $index" >
	          <img class="avatar" ng-src="/app/uploads/{{oldMsg.avatar}}"  style="height: 30px; width: 30px;"/>
	      	  <span ng-bind="oldMsg.username"></span>
		      <span>: </span>
		      <span ng-bind="oldMsg.message"></span>
		      </br>
		      <em am-time-ago="oldMsg.timestamp"></em>
	      </li>
	  </ul>
	  <ul>
	      <li ng-repeat="message in messages track by $index" >
              <img class="avatar" ng-src="/app/uploads/{{message.avatar}}"  style="height: 30px; width: 30px;"/>
		      <span ng-bind="message.username"></span>
		      <span>: </span>
		      <span ng-bind="message.message"></span>
		      </br>
		      <em am-time-ago="message.timestamp"></em>
	      </li>
	  <ul>
	</div>
	<textarea ng-model="texttosend"></textarea>
	<button ng-click="sendmessage(texttosend)" class="btn btn-success">Send</button>
	<button ng-click="showCheckin = true"><i class="fa fa-thumb-tack" aria-hidden="true"></i>Check in</button>

</div>

<div class="col-md-4 threecol">
	<div class="result" id="map-result" style="width: 100%; height:500px;"></div>
</div>