      <infobox ng-if="theirWebsites.length >= 1">
<div class="col-md-1">empty space </div>
<div class="col-md-10">  <h1>{{selectedwebsite.websiteUrl}}</h1>

<div class="col-md-6" ng-repeat="(key, value) in selectedwebsite.serverinfo">
	<ul>
    <strong>{{key}} records</strong>
  	  <li ng-repeat="a in selectedwebsite.serverinfo[key]">{{a}}</li>
	</ul>
</div>



</div>

<table>
<tr>
	<th>A records</th><th>NS records</th><th>SOA records</th>
</tr>

<tr>
	<td><tr ng-repeat="a in selectedwebsite.serverinfo.A">{{a}}</tr></td>
	<td><tr ng-repeat="ns in selectedwebsite.serverinfo.NS">{{ns}}</tr></td>
	<td><tr ng-repeat="soa in selectedwebsite.serverinfo.NS">{{soa}}</tr></td>
</tr>
</table>
<div class="col-md-1">empty space </div>
</infobox>